[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
scikit-learn = "*"
numpy = "*"
requests = "*"
beautifulsoup4 = "*"
selenium = "*"

[packages]
matplotlib = "*"

[requires]
python_version = "3.6"
